//
// Mobile first
//
a.btn,
input[type=button],
button.btn {
  height: 32px;
  padding: 6px 10px;
  display: inline-block;
  margin: 0 4px;
  background: transparent;
  border: 2px solid $c-classic-bg-yellow;
  border-radius: 4px;

  touch-action: manipulation;
  cursor: pointer;

  font: 14px/1em $f-sans;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: $c-classic-bg-yellow;

  transition: all 0.25s ease-in-out;

  -webkit-appearance:none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    border-color: #fff;
    color: #fff;
  }

  &[disabled] {
    color: $c-ui-disabled;
    border-color: $c-ui-disabled;
    cursor: not-allowed;
  }
}

.debug-btn.btn {
  position: absolute;
  right: 10px;
  bottom: 50px;

  border-color: pink;
  color: pink;
}

.btn-score {
  width: 40px; height: 40px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  background-color: transparent;
  padding: 0 0 8px 0;

  font-size: 28px;
  text-align: center;
  color: #fff;

  touch-action: manipulation;
  -webkit-appearance: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &[disabled] {
    color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.5);
    cursor: not-allowed;
  }
}

.iOS-device {
  .btn-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

//
// Orientacion apaisada / Landscape mobile
//
@media screen and (orientation: landscape) {

}

//
// Tablet
//
@media screen and (min-width: 768px) {
  a.btn,
  input[type=button],
  button.btn {
    height: 40px;
    min-width: 220px;
    padding: 8px 20px;
  }
}

//
// Tablet Horizontal
//
@media screen and (min-width: 768px) and (orientation: landscape) {

}

//
// Tablet vertical
//
@media screen and (min-width: 768px) and (orientation: portrait) {

}

//
// Desktop (> 1024)
//
@media only screen and (min-width: 1024px) {

}