html {
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  height: 100%;
  min-height: 100%;
}

.view-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.main-footer,
.main-header {
  width: 100%;
  height: 64px;
  padding: 12px;
  background-color: $c-ui-med-bg;

  background-position: 50%;
  background-repeat: no-repeat;

  text-align: center;
}

.main-main {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  align-items: center;

  background-position: 50%;
  background-repeat: repeat;
}

.left {
  float: left;
}

.right {
  float: right;
}

.player-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  position: relative;

  .player-card {
    display: block;
    width: calc( 50% - 20px );
    height: calc( 33.33% - 20px );
    margin: 10px;

    background: $c-ui-bg-disabled;
    border: 4px solid $c-ui-med-bg;
    ;
    border-radius: 4px;

    transition: all 0.35s ease-in-out;

    label {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 12px 24px 24px 16px;
      cursor: pointer;
    }

    .player-img {
      height: 90%;
      position: absolute;
      left: 0; bottom: 0;
      overflow: hidden;

      transform: translate(0, 0);
      transition: all 0.35s ease-in-out;
      img {
        display: block;
        height: 100%;
        transition: all 0.35s ease-in-out;
      }
    }

    input {
      visibility: hidden;
    }

    .cta {
      position: relative;
      align-self: flex-end;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

//
// Tablet
//
@include media($tablet) {

}

//
// Mobile
//
@include media($mobile) {

}