@mixin media($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@function flex-grid($columns, $container-columns: $max-columns, $gutter-width: $gutter) {
  $width: $columns * $column + ($columns - 1) * $gutter-width;
  $container-width: $container-columns * $column + ($container-columns - 1) * $gutter-width;
  @return percentage($width / $container-width);
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

  @keyframes(scrollStarwarsBg) {
    0% {
      transform: translate3d(0,0,0);
    }
    100% {
      transform: translate3d(0,-512px,0);
    }
  }



  @keyframes(scrollClassicBg) {
    0% {
      transform: translate3d(0,0,0);
    }
    100% {
      transform: translate3d(0,-768px,0);
    }
  }
