.view-wrapper.starwars {
  background-image: url(/static/img/bg-tile-starwars.jpg);

  .main-header {
    background-image: url(/static/img/logo-starwars.svg);
    background-size: auto 64px ;
  }

  // $c-sw-bg-red: #FF2E1E;
  // $c-sw-bg-black: #71706A;
  // $c-sw-bg-green: #9DE21B;
  // $c-sw-bg-white: #FFFFFD;
  // $c-sw-bg-orange: #FFA006;

  .player-card {
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat;
    background-position:
      right 10px top 10px, // Badge
      top right, // Corner
      130% -5%; // Big badge BG
    background-size:
      auto 48px,
      auto,
      150% auto;

    .player-name {
      font-family: $f-serif;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 1px;
      color: #FFF;
      text-shadow: 0 3px 0 rgba(0,0,0,0.50);
    }

    &.is-inactive {
      background-color: #444;
      .player-name {
        color: #FFF;
        text-shadow: 0 3px 0 rgba(0,0,0,0.50);
      }
      .cta {
        color: #ffffff;
      }
      .player-img {
        transform: translate(100px, 0);
        img {
          filter: grayscale(100%) contrast(0) brightness(0.20);
        }
      }
    }

  }

  .player-select-black {
    background-color: $c-sw-bg-black;
    background-image:
      url(/static/img/badge-empire.svg),
      url(/static/img/top-right-corner.svg),
      url(/static/img/badge-empire-black.svg);
    &.is-inactive {
      background-image:
      url(/static/img/badge-empire.svg),
      url(/static/img/top-right-corner.svg),
      url(/static/img/badge-empire-black.svg);
    }
  }
  .player-select-green {
    background-color: $c-sw-bg-green;
    background-image:
      url(/static/img/badge-rebel.svg),
      url(/static/img/top-right-corner.svg),
      url(/static/img/badge-rebel-black.svg);
  }
  .player-select-red {
    background-color: $c-sw-bg-red;
    background-image:
      url(/static/img/badge-rebel.svg),
      url(/static/img/top-right-corner.svg),
      url(/static/img/badge-rebel-black.svg);
  }
  .player-select-orange {
    background-color: $c-sw-bg-orange;
    background-image:
      url(/static/img/badge-boba.svg),
      url(/static/img/top-right-corner.svg),
      url(/static/img/badge-boba-black.svg);
    background-position:
      right 20px top 10px, // Badge
      top right, // Corner
      130% -5%; // Big badge BG
  }
  .player-select-white {
    background-color: #fff;
    background-image:
      url(/static/img/badge-empire.svg),
      url(/static/img/top-right-corner.svg),
      url(/static/img/badge-empire-black.svg);
      .player-name {
        color: #000000;
        text-shadow: 0 0 0 transparent;
      }
      .cta {
        color: #000000;
      }
  }
}