// Fams
$f-sans: Arial, sans-serif;
$f-serif: Cinzel, 'Cinzel', Georgia, Times, 'Times New Roman', serif;

body {
  font-family: $f-sans;
  font-size: 14px;
  color: #ffffff;
}

.screen-title {
  padding-top: 4px;
  font-family: $f-sans;
  font-weight: 700;
  font-size: 24px;
  color: $c-ui-yellow;

  text-align: center;
  text-shadow: 0 3px 0 rgba(0,0,0,0.50);

  small {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
  }
}

.player-card {
  .cta {
    text-align: right;
  }
}

//
// Tablet
//
@include media($tablet) {

}

//
// Mobile
//
@include media($mobile) {

}