.view-choose-game-mode {
  .select-game {
    display: block;
    width: 100%; height: 200px;
    max-width: 480px;
    margin: 8px 0;
    background: $c-ui-dark-bg;
    border: 4px solid #242424;
    border-radius: 4px;

    &.classic {
      background-image: url(/static/img/logo-carcassonne.png), url(/static/img/bg-tile-classic.png);
      background-position: 50%, 50%;
      background-repeat: no-repeat, repeat;
      background-size: 400px auto, auto;

    }

    &.starwars {
      background-image: url(/static/img/logo-carcassonne.png), url(/static/img/logo-starwars.svg), url(/static/img/bg-tile-starwars.jpg);
      background-position: 50% calc(50% - 64px), 50% calc(50% + 20px), 50% 50%;
      background-repeat: no-repeat, no-repeat, repeat;
      background-size: auto 64px, 288px auto, auto;
    }

    &.is-disabled {
      filter: brightness(0.5) contrast(90%) grayscale(100%);
    }

    cursor: pointer;

    input[type=radio] {
      visibility: hidden;
    }

    &.is-selected {
      border-color: $c-ui-yellow;
    }
  }
}


//
// Tablet
//
@include media($tablet) {

}

//
// Mobile
//
@include media($mobile) {
  .view-choose-game-mode {
    .select-game {
      &.classic {
        background-image: url(/static/img/logo-carcassonne.png), url(/static/img/bg-tile-classic.png);
        background-position: 50%, 50%;
        background-repeat: no-repeat, repeat;
        background-size: 90% auto, auto;

      }

      &.starwars {
        background-image: url(/static/img/logo-carcassonne.png), url(/static/img/logo-starwars.svg), url(/static/img/bg-tile-starwars.jpg);
        background-position: 50% calc(50% - 54px), 50% calc(50% + 20px), 50% 50%;
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: auto 64px, auto 75%, auto;
      }
    }
  }
}